{% extends 'base.html.twig' %}

{% block title %}Contactez moi
{% endblock %}

{% block body %}

	<section class="GlobalHeader">
		<div class="GlobalHeaderTitle">
			<h1>Page Contact</h1>
		</div>
	</section>

	<section class="GlobalMain">
		<div class="GlobalMainTitle">
			<h2>Voici different moyen de me contacter :</h2>
		</div>

		<section class="contactAll">
			<div class="contactInfo">
				<a href="mailto:marlyemcpro@gmail.com">
					<i class="fa-solid fa-envelope"></i>
					marlyemcpro@gmail.com</a>

				<a href="tel:+0661390828">
					<i class="fa-solid fa-phone"></i>
					0661390828</a>

				<a href="https://www.linkedin.com/in/cotrie-marlye/" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-linkedin"></i>
					LinkedIn</a>

				<a href="https://github.com/MarlyeCte" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-github-square"></i>
					GitHub</a>
			</div>
		</section>

	</section>

	<style>

		.contactAll {
			display: flex;
            flex-direction: column;
		}

		.contactInfo {
			display: flex;
			flex-direction: column;
            gap: 10px;
		}

		.contactInfo a {
            text-align: center;
			text-decoration: none;
			color: rgb(0 0 0 / 76%);
			font-size: 25px;
			padding: 5px;
            width: auto;
			transition: all 0.2s ease-out;
		}

		.contactInfo a:hover {
			color: rgb(255, 255, 255);
			background-color: rgb(0 0 0 / 50%);
			border-radius: 10px;
		}
	</style>

{% endblock %}
